div{
  border-radius: 10px;
  font-family: "Verdana", Sans-serif;
  margin-bottom: 5px;
  text-align: center;
}

.theme{
  background-color: ghostWhite;
  height: 750px;
}

.options{
  height: 100px;
  background-color: gainsboro;
}  

.information1{
  font-size: 20px;
  margin-top: 6px;
}

.register{
  height: 100px;
  background-color: blue;
}

button{
  border: none;
  border-radius: 5px;
  font-size: 17px;
  height: 40px;
  widtht: 70px;
  margin: 20px 15px 15px 0;
}

img{
  border-radius: 15px;
  height: 180px;
  width: 180px;
}

.label{
  font-size: 50px;
  margin-top: 6px;
}

.dark{
  background-color: lightSteelBlue;
}

.light{
  background-color: ghostWhite;
}

.ninja{
  background-color: darkGray;
}
